<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeImage-dotnet-core" version="4.3.6" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net45" />
  <package id="JBig2Decoder.NET" version="1.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="pythonnet_py37_win" version="2.4.1" targetFramework="net45" />
</packages>